# Ignore Python virtual environment
server/python-backend/myenv/

# Ignore ZIP files
server/python-backend/*.zip

# Ignore node_modules
client/node_modules/
server/node_modules/

# Ignore environment files
*.env
