.stock-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 170px;
  padding: 20px;
}

  .stock-form {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .position-details {
    margin-top: 20px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
  }
  
  .transaction-details {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .trade-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .trade-popup-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .close-button {
    align-self: flex-end;
  }
  
  input, select {
    width: 100%;
  }

  /* Pricealert.jsx */
  .alert-container {
    position: relative;
    width: 20%;
    margin-left: auto;
    align-self: flex-start;
    padding: 100px;
    top: 30px;
    right: 400px;
    flex-direction: row;
    justify-content: space-between;

  }

.alert-list {
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-list h4 {
  text-align: center;
}

.alert-list ul {
  list-style: none;
  padding: 0;
}

.alert-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
}
  
  .alert-list li:last-child {
    border-bottom: none;
  }
  
  .alert-list .MuiIconButton-root {
    color: #e74c3c;
  }
  
  .stock-news-container {
    width: 200%;
    padding: 0.5px 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    
  }
  
  .date-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .news-carousel {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .news-card {
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .position-container{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 170px;
  padding: 20px;
  width: 50%;

  }